body {
  margin: 0;
  font-family: Arial;
  background-color: #0d0d0d;
}
.side-menu {
  position: fixed;
  left: -270px;
  top: 0;
  width: 300px;
  height: 100%;
  padding-left: 20px;
  background: #0d0d0d;
  color: white;
 transition: right 0.6s 10s ease-out;
 z-index: 999;
}

.side-menu.open {
    right: 100px; 
}
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.side-menu ul li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 20px;
}
.footer .icons i {
  margin-right: 10px;
}
.right-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-left: 2px solid #ddd;
   transition: transform 0.3s ease-out;
   z-index: 9999;
}
.right-bar.shift {
    transform: translateX(300px);
}
.top-img {
  width: 45px;
}
.toggle-btn {
  cursor: pointer;
  font-size: 35px;
  user-select: none;
}
.bottom-icons i {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

.meals .image{
    position: relative;
    overflow: hidden;
}

.meals .layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #000;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color:rgba(221, 221, 221, 0.87);
    opacity: 0;
    transform: translateY(100%);
    transition: all .5s;
}
.meals .image:hover .layer{
opacity: 1;
transform: translateY(0);
}
.form-control::placeholder{
  color: #a09c9c;
}

.loader {background-color: #000;
  width: 48px;
  height: 48px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

